* {
	font-family: Georgia;
  	box-sizing: border-box;
  	font-style: italic;
  	width: auto;
	height: auto;
}

#header {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 200%;
}

.menu{
	border: 2px solid black;
	background-color: grey;
	margin : 20px;
}

.dish {
	text-align: center;
	font-size: 125%;
	margin-left: 80%;
  	padding: 5px;
  	border-left: 2px solid black;
  	border-bottom: 2px solid black;
}

.receipe{
	padding: 10px;
	font-size: 15px;
}

#chicken.dish {
	background: PeachPuff;
}


#beef.dish {
	background: maroon;
}

#sushi.dish {
	background: khaki;
}
