/*  */

/* 
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
 */

body{ 
	background-color: black;
}

/* HEADER */
#header-nav{
	background-color: white;
	border-radius: 0;
	border: 0;
}

#logoImage{
	/**got from internet*/
	background: url('logo3.jpg');
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.navbar-brand h1{
	color: black; 
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	margin: 0;
}

/*for removing the line below the text */
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
