/*  */


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{ 
	background-color: black;
	color: black; 
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	font-weight: normal;
}

/* HEADER */
#header-nav{
	background-color: white;
	border-radius: 0;
	border: 0;
	margin: 0;
}

#collapsable-nav{ 
	padding: 0;
}

#logoImage{
	/**got from internet*/
	background: url('logo3.jpg');
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
  	margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand h1{
	color: black; 
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

/*for removing the line below the text */
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}


#collapsable-nav {
  margin-top: 20px;
  visibility: hidden;
  text-align: center;
}
#collapsable-nav a{
	color: black;
	font-size: 16px;
}

#ncollapsable-nav a {
  color: black;
  text-align: center;
}
/*when we hover over the color will change*/
#collapsable-nav a:hover { 
  text-decoration: none;
}


/*for the menu, about and contact on the right */
#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: black;
  text-align: center;
}
/*when we hover over the color will change*/
#nav-list a:hover { 
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.2em;
}

/*for the toggle button when we squze the browser */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  text-align: right;
  clear: both;
  margin-top: -30px;
}

#title-menu{
	font-size: 40px;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content{
	font-size: 13px;
	color: white;
	border: 1px solid white;
	border-radius: 25px;
	margin: 20px;
	border-spacing: 10px;
}

.content section{
	font-size: 35px;
	padding: 20px 0 20px 0;
}
.content p{
	font-size: 17px;
	padding: 0 25px 20px 25px;
	font-family: cursive;
}

  /* Responsive Design for nav header*/
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only(ipad pro) **********/
@media (min-width: 992px) and (max-width: 1199px) {
.content{
	width: 600px;
	margin: 0 auto 20px auto;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.content{
	width: 600px;
	margin: 0 auto 20px auto;
}
}

/********** Small devices(Mobile)**********/
@media (max-width: 767px) {
.content{
	width: 300px;
	margin: 0 auto 20px auto;
}

#collapsable-nav {
  visibility: visible;
}

}

